.heading{
    font-family: 'Poppins', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: white;
}

*{
    box-sizing: border-box;
}
body{
    background-image: url("../images/blur_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 170vh;
    background-attachment: fixed;
    /* filter: blur(8px); */
    
    /* -webkit-filter: blur(8px); */
}