{% extends 'base.html' %}
{% block navs %}
    <li>
        <a href="{{ url_for('homepage') }}">Home</a>
    </li>
    <li class="active">
        <a href="{{ url_for('samples') }}">Sample Data</a>
    </li>
    <li>
        <a href="{{ url_for('classify') }}">Classify</a>
    </li>
{% endblock %}
{% block content %}
    <!-- /////////////////////////////////////////Content -->
    <div id="page-content" class="container">
        <div
            class="row">
            <!-----------------Content-------------------->
            <section class="box-content box-2 box-style-0">
                <div class="flex-box no-gutter">
                    <div class="col-sm-12">
                        <div class="box-text">
                            <div class="box-text-inner pd-exlarge-lg pd-small-xs">
                                <div class="heading">
                                    <h2>Sample Diseases</h2>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="portfolio-box zoom-effect">
                                            <img src="static/images/Apoderus Javanicus/1.jpg" class="img-responsive" alt="">
                                                <div class="portfolio-box-caption">
                                                    <div class="portfolio-box-caption-content">
                                                        <div class="project-name">
                                                            Apoderus Javanicus
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6 nopadding">
                                            <div class="portfolio-box zoom-effect">
                                                <img src="static/images/Aulacaspis Tubercularis/1.jpg" class="img-responsive" alt="">
                                                    <div class="portfolio-box-caption">
                                                        <div class="portfolio-box-caption-content">
                                                            <div class="project-name">
                                                                Aulacaspis Tubercularis
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-sm-6 nopadding">
                                                <div class="portfolio-box zoom-effect">
                                                    <img src="static/images/Ceroplastes Rubens/1.jpg" class="img-responsive" alt="">
                                                        <div class="portfolio-box-caption">
                                                            <div class="portfolio-box-caption-content">
                                                                <div class="project-name">
                                                                    Ceroplastes Rubens
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-6 nopadding">
                                                    <div class="portfolio-box zoom-effect">
                                                        <img src="static/images/Cisaberoptus Kenyae/1.jpg" class="img-responsive" alt="">
                                                            <div class="portfolio-box-caption">
                                                                <div class="portfolio-box-caption-content">
                                                                    <div class="project-name">
                                                                        Cisaberoptus Kenyae
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3 col-sm-6 nopadding">
                                                        <div class="portfolio-box zoom-effect">
                                                            <img src="static/images/Dappula Tertia/1.jpg" class="img-responsive" alt="">
                                                                <div class="portfolio-box-caption">
                                                                    <div class="portfolio-box-caption-content">
                                                                        <div class="project-name">
                                                                            Dappula Tertia
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 col-sm-6 nopadding">
                                                            <div class="portfolio-box zoom-effect">
                                                                <img src="static/images/Dialeuropora Decempuncta/1.jpg" class="img-responsive" alt="">
                                                                    <div class="portfolio-box-caption">
                                                                        <div class="portfolio-box-caption-content">
                                                                            <div class="project-name">
                                                                                Dialeuropora Decempuncta
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3 col-sm-6 nopadding">
                                                                <div class="portfolio-box zoom-effect">
                                                                    <img src="static/images/Erosomyia Sp/1.jpg" class="img-responsive" alt="">
                                                                        <div class="portfolio-box-caption">
                                                                            <div class="portfolio-box-caption-content">
                                                                                <div class="project-name">
                                                                                    Erosomyia Sp
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3 col-sm-6 nopadding">
                                                                    <div class="portfolio-box zoom-effect">
                                                                        <img src="static/images/Icerya Seychellarum/1.jpg" class="img-responsive" alt="">
                                                                            <div class="portfolio-box-caption">
                                                                                <div class="portfolio-box-caption-content">
                                                                                    <div class="project-name">
                                                                                        Icerya Seychellarum
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3 col-sm-6 nopadding">
                                                                        <div class="portfolio-box zoom-effect">
                                                                            <img src="static/images/Ischnaspis Longirostris/1.jpg" class="img-responsive" alt="">
                                                                                <div class="portfolio-box-caption">
                                                                                    <div class="portfolio-box-caption-content">
                                                                                        <div class="project-name">
                                                                                            Ischnaspis Longirostris
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-3 col-sm-6 nopadding">
                                                                            <div class="portfolio-box zoom-effect">
                                                                                <img src="static/images/Mictis Longicornis/1.jpeg" class="img-responsive" alt="">
                                                                                    <div class="portfolio-box-caption">
                                                                                        <div class="portfolio-box-caption-content">
                                                                                            <div class="project-name">
                                                                                                Mictis Longicornis
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-3 col-sm-6 nopadding">
                                                                                <div class="portfolio-box zoom-effect">
                                                                                    <img src="static/images/Neomelicharia Sparsa/1.jpeg" class="img-responsive" alt="">
                                                                                        <div class="portfolio-box-caption">
                                                                                            <div class="portfolio-box-caption-content">
                                                                                                <div class="project-name">
                                                                                                    Neomelicharia Sparsa
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-3 col-sm-6 nopadding">
                                                                                    <div class="portfolio-box zoom-effect">
                                                                                        <img src="static/images/Normal/1.jpg" class="img-responsive" alt="">
                                                                                            <div class="portfolio-box-caption">
                                                                                                <div class="portfolio-box-caption-content">
                                                                                                    <div class="project-name">
                                                                                                        Normal
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-3 col-sm-6 nopadding">
                                                                                        <div class="portfolio-box zoom-effect">
                                                                                            <img src="static/images/Orthaga Euadrusalis/1.jpg" class="img-responsive" alt="">
                                                                                                <div class="portfolio-box-caption">
                                                                                                    <div class="portfolio-box-caption-content">
                                                                                                        <div class="project-name">
                                                                                                            Orthaga Euadrusalis
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-lg-3 col-sm-6 nopadding">
                                                                                            <div class="portfolio-box zoom-effect">
                                                                                                <img src="static/images/Procontarinia Matteiana/1.jpg" class="img-responsive" alt="">
                                                                                                    <div class="portfolio-box-caption">
                                                                                                        <div class="portfolio-box-caption-content">
                                                                                                            <div class="project-name">
                                                                                                                Procontarinia Matteiana
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-lg-3 col-sm-6 nopadding">
                                                                                                <div class="portfolio-box zoom-effect">
                                                                                                    <img src="static/images/Procontarinia Rubus/1.jpg" class="img-responsive" alt="">
                                                                                                        <div class="portfolio-box-caption">
                                                                                                            <div class="portfolio-box-caption-content">
                                                                                                                <div class="project-name">
                                                                                                                    Procontarinia Rubus
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-lg-3 col-sm-6 nopadding">
                                                                                                    <div class="portfolio-box zoom-effect">
                                                                                                        <img src="static/images/Valanga Nigricornis/1.jpeg" class="img-responsive" alt="">
                                                                                                            <div class="portfolio-box-caption">
                                                                                                                <div class="portfolio-box-caption-content">
                                                                                                                    <div class="project-name">
                                                                                                                        Valanga Nigricornis
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </section>
                                                                        </div>
                                                                    </div>
                                                                {% endblock %}
